body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url(icon.jpg);
}

.container {
        display: flex;
}

.sidebar {
        width: 250px;
        background-color: #f4f4f4;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        height:690px;
}

.sidebar h2 {
        text-align: center;
}

.sidebar ul {
        list-style: none;
        padding: 0;
}

.sidebar ul li {
        margin: 15px 0;
}

.sidebar ul li a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        display: block;
        transition: background-color 0.3s;
}

.sidebar ul li a:hover {
        background-color: #ddd;
}

.content {
        flex: 1;
        padding: 20px;
}

h1 {
        color: #333;
}